@keyframes toFro {
	0% {
		transform: translateY(0) scale(1);
		transform-origin: 79% 44%;
		opacity: 1;
	}
	100% {
		transform: translateY(15px) scale(1.2);
		transform-origin: 79% 44%;
		opacity: 0.6;
	}
}

@keyframes toFroGirl {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(20px);
	}
}

@keyframes waveRight {
	0% {
		transform: rotate(0deg);
		transform-origin: 70% 38%;
	}
	33.33% {
		transform: rotate(-12deg);
		transform-origin: 70% 38%;
	}
	66.66% {
		transform: rotate(0deg);
		transform-origin: 70% 38%;
	}
	100% {
		transform: rotate(-12deg);
		transform-origin: 70% 38%;
	}
}

@keyframes waveLeft {
	0% {
		transform: rotate(0deg);
		transform-origin: 78% 38%;
	}
	33.33% {
		transform: rotate(7deg);
		transform-origin: 78% 38%;
	}
	66.66% {
		transform: rotate(0deg);
		transform-origin: 78% 38%;
	}
	100% {
		transform: rotate(7deg);
		transform-origin: 78% 38%;
	}
}

@keyframes variableShadow {
	0%{
		transform: scale(0.9);
		transform-origin: 82% 80%;
		opacity: 0.1;
	}
	100%{
		transform: scale(1);
		transform-origin: 82% 80%;
		opacity: 0.3;
	}
}

@keyframes moveRays {
	0% {
		transform: rotate(0deg);
		transform-origin: 40% 10%;
		opacity: 1;
	}
	100% {
		transform: rotate(6deg);
		transform-origin: 40% 10%;
		opacity: 0.5;
	}
}

body {
	margin: 0;
}

.nirvanaCircle {
	animation: toFro 3000ms linear alternate infinite;
}

.theGirl {
	animation: toFroGirl 3000ms linear alternate infinite;
}

.rightHand {
	animation: waveRight 9000ms linear alternate infinite;
	animation-delay: 0s;
}

.leftHand {
	animation: waveLeft 9000ms linear alternate infinite;
	animation-delay: 0s;
}

.shadow {
	animation: variableShadow 3000ms linear alternate infinite;
}

.lightRays {
	animation: moveRays 3000ms linear alternate infinite; 
}


